.Main {
  $root: &;

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: map-get($colors, "dark-green");
    color: white;

    & > h1 {
      font-size: 3rem;
      margin-bottom: 5px;
    }

    & > p {
      color: rgb(182, 182, 182);
      font-style: italic;
      margin-top: 0;
    }
  }

  &_group {
    padding: 0 5rem;
  }

  &_groupDets {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 0;
  }

  &_groupItem {
    position: relative;
    display: flex;
    width: fit-content;
    list-style: none;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      width: 100%;

      #{$root}_groupTitle {
        overflow: visible;
        color: lighten(map-get($colors, "dark-green"), 25%);

        &:after {
          width: 0;
          height: 100%;
          top: 0;
          transform: translateY(0) rotate(180deg);
        }
      }

      #{$root}_groupInfo {
        width: 100%;
        max-height: 500px;
        transition: width 0.2s ease-in, max-height 0.3s ease-in-out 0.2s;
      }
    }
  }

  &_groupTitle {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    color: map-get($colors, "dark-green");
    transition: color 0.2s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      margin-left: 1rem;
      top: 50%;
      right: 0;
      width: 10px;
      height: 10px;
      border-left: 2px solid map-get($colors, "dark-green");
      border-top: 2px solid map-get($colors, "dark-green");
      transform: translate(-50%, -50%) rotate(135deg);
      transition: all 0.2s ease-in-out;
    }
  }

  &_groupInfo {
    max-height: 0;
    width: 0;
    margin-left: 1rem;
    color: white;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1), width 0.2s ease-in 0.2s;
    overflow: hidden;
  }

  &_groupInfoContainer {
    padding: 1rem;
    background-color: map-get($colors, "dark-green");
    border-radius: 5px;
  }
}
