.Main {
  $root: &;

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &_groupDets {
    position: relative;

    margin-bottom: 2rem;
  }

  &_groupItem {
    position: relative;
    display: flex;
    width: fit-content;
    list-style: none;
    overflow: hidden;

    &:hover {
      width: 100%;

      #{$root}_groupTitle {
        color: red;
        overflow: visible;

        &:after {
          width: 0;
          height: 100%;
          top: 0;
          transform: translateY(0) rotate(180deg);
        }

        &:before {
          left: 100vw;
          transition: all 0.2s ease-in-out;
        }
      }

      #{$root}_groupInfo {
        display: block;

        animation-delay: 0.2s;
        animation: dropdownTransition-show 0.4s ease-in forwards;
      }
    }
  }

  &_groupTitle {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    color: black;
    transition: all 0.2s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      margin-left: 1rem;
      top: 50%;
      right: 0;
      width: 10px;
      height: 10px;
      border-left: 2px solid black;
      border-top: 2px solid black;
      transform: translate(-50%, -50%) rotate(135deg);
      transition: all 0.2s ease-in-out;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 100vw;
      background-color: red;
      animation: slide-left 0.2s ease-in forwards;
      animation-delay: 0.2s;
    }
  }

  &_groupInfo {
    display: none;
    max-height: 1.5rem;
    padding-left: 1rem;
    overflow: hidden;
    // animation: dropdownTransition-hide 0.2s ease-in forwards;
  }

  @keyframes dropdownTransition-show {
    0% {
      max-height: 1.5rem;
    }
    50% {
      max-height: 1.5rem;
    }
    100% {
      max-height: 500px;
    }
  }

  @keyframes dropdownTransition-hide {
    0% {
      opacity: 1;
      max-height: 500px;
    }
    50% {
      max-height: 1.5rem;
    }
    100% {
      max-height: 1.5rem;
    }
  }
}
