.Main {
  $root: &;
  position: relative;
  margin-top: 12rem;
  overflow: hidden;

  &-collapse {
    #{$root}_container {
      max-height: 0;
      transition: all 0.2s ease-in-out;
    }

    #{$root}_docTitle {
      &:after {
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }

  &_section {
    position: relative;
    padding-top: 5rem;
  }

  &_sectionTitle {
    width: 100%;
    left: 0;
    top: 0;
    background-color: map-get($colors, "dark-green");
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: lighten(map-get($colors, "dark-green"), 25%);
    }
  }

  &_docTitle {
    position: relative;
    color: map-get($colors, "white");
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      margin-left: 1rem;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      transform: translateY(-50%) rotate(-45deg);
      transition: all 0.2s ease-in-out;
    }
  }

  &_container {
    // height: 100%;
    max-height: 100%;
    transition: all 0.2s ease-in-out;
  }

  &_group {
    margin-bottom: 10rem;
  }

  &_groupHeader {
    display: flex;
    justify-content: space-between;
    font-style: italic;
  }

  &_groupDets {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 0;
  }

  &_groupItem {
    position: relative;
    display: flex;
    width: fit-content;
    list-style: none;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      width: 100%;

      #{$root}_groupTitle {
        overflow: visible;
        color: lighten(map-get($colors, "dark-green"), 25%);

        &:after {
          width: 0;
          height: 100%;
          top: 0;
          transform: translateY(0) rotate(180deg);
        }
      }

      #{$root}_groupInfo {
        width: 100%;
        max-height: 500px;
        transition: width 0.2s ease-in, max-height 0.3s ease-in-out 0.2s;
      }
    }

    &:last-child {
      div {
        font-style: italic;
      }
    }
  }

  &_groupTitle {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    color: map-get($colors, "dark-green");
    transition: color 0.2s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      margin-left: 1rem;
      top: 50%;
      right: 0;
      width: 10px;
      height: 10px;
      border-left: 2px solid map-get($colors, "dark-green");
      border-top: 2px solid map-get($colors, "dark-green");
      transform: translate(-50%, -50%) rotate(135deg);
      transition: all 0.2s ease-in-out;
    }
  }

  &_groupInfo {
    min-height: 2.5rem;
    max-height: 2.5rem;
    width: 0;
    margin-left: 1rem;
    color: white;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1), width 0.2s ease-in 0.2s;
    overflow: hidden;
  }

  &_groupInfoContainer {
    padding: 1rem;
    background-color: map-get($colors, "dark-green");
    border-radius: 5px;
    margin: 0;
  }

  &_circle {
    &-big {
      margin-bottom: 17rem !important;
    }
  }

  &_parallax {
    position: absolute;
  }

  &_companiesSection {
    margin-top: 5rem;
  }

  &_companiesContainer {
    display: flex;
    justify-content: center;
  }

  &_companiesBtn {
    padding: 2rem 1rem;
    background-color: map-get($colors, "dark-blue");
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: lighten(map-get($colors, "dark-blue"), 25%);
    }
  }
}
